/* Modificações no estilo da página INDEX.HTML*/

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


#menu li {
    display: inline;
    padding: 15px;
    font-size: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    color: red;
}

.p-30 {
    padding: 30px;
}

.mb-100 {
    margin-bottom: 100px;
}



.bgh-red {
    background: #CD5C5C;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    
    }

.containerFoot {
    display: flex;
    flex-flow: row-reverse;
    justify-content:space-between;
    align-items: center;
}

.al-bottom {
    padding-bottom: 5px;
}

/* Modificação nas imagens em Index.html*/
.br-50 {
    border-radius: 50%;
}

.wr-200 {
    width: 200px;
    height: 200px;
}

.tm-social {
    width: 60px;
    height: 60px;
}

/* Modificações no estilo da página CONTATO.HTML*/

.ml-50 {
    margin-left: 50px;
}