/* Modificações no estilo da página INDEX.HTML*/

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


#menu li {
    display: inline;
    padding: 15px;
    font-size: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    color: red;
}

.p-30 {
    padding: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

#hobbies li {
    display: table;
    padding: 10px;
    font-size: 15px;
    font-style: italic;
}

.bgh-red {
    background: #CD5C5C;
}

.containerhobbies  {
    max-width: 450px;
    display: flex;
    flex-flow: row;
    justify-content: left;
}

.container ul li {
    margin-top: 7px;
    padding-bottom: 3px;
    border-style: solid;
    text-align: left;
    
}    


/* Modificação nas imagens em Index.html*/
.br-50 {
    border-radius: 50%;
}

.wr-200 {
    width: 200px;
    height: 200px;
}

.tm-social {
    width: 60px;
    height: 60px;
}

/* Modificações no estilo da página CONTATO.HTML*/

.ml-50 {
    margin-left: 50px;
}